.foodcoop
    .container
        .row
            .col-xs-3
                img(src="/assets/images/foodcoop/food.png")
            .col-xs-6
                h1 Food-Coop
            .col-xs-3
                img(src="/assets/images/foodcoop/coop.png")
        .row
            .col-xs-12
                div(data-frame=4)
                    h3 <span class="bold">C</span>ommunity <span class="bold">S</span>upported <span class="bold">A</span>griculture
                    h3 <span class="bold">L</span>andwirtschaftsgemeinschaftshof
                    h3 <span class="bold">A</span>ssociation pour le <span class="bold">M</span>aintien d'une <span class="bold">A</span>griculture <span class="bold">P</span>aysanne
    .container
        .row
            .col-xs-4(data-frame=1)
                h3 Regional
                h3 Seasonal
                h3 Organic
                h3 Fair
                h3 Transparency
                h3 Affordability

            .col-xs-4(data-frame=3)
                img(src="/assets/images/foodcoop/farmer.png")

            .col-xs-4(data-frame=2)
                h3 Support Farmer
                h3 Community
                h3 Participation
                h3 Reduce Packaging
                h3 Reduce Energy
                h3 Flexible/Contract



