div(ng-include='"components/navbar/navbar.html"')

span#signinButton

header#banner.hero-unit
  .container
    a.logo-wrapper(href='/slideshow/foodcoop')
      span.logo-back
      img.logo(src='assets/images/logo.svg', alt='Dickes Bee')
    h1 Dickes Bee
    p.lead A Food-Coop in Berlin